.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-Btn {
  padding: 1px 10px;
}

.Controls-Info {
  margin-right: 25px;
  font-size: 18px;
}

.Controls-Info b{
  margin-left: 10px;
}
