.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
}

.Modal-Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
}

.Modal-Container {
  position: relative;
  overflow: hidden;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 958px;
  margin: auto;
  background-color: #f2f7fc;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.Modal-Content {
  padding-top: 70px;
  padding-bottom: 90px;
}

.Modal-Close {
  margin-right: 10px;
}

